server/data/SOAP-WSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<wsdl:definitions name="ababbab" targetNamespace="http://service.lfg.com/ababbab" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.lfg.com/ababbab" xmlns:bons2="http://service.lfg.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.lfg.com/ababbab">
      <xsd:element name="ghhh">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hhhg" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="juyyuyu">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="hghgh" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestMessageName">
    <wsdl:part element="tns:requestElementName" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="responseMessageName">
    <wsdl:part element="tns:responseElementName" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ababbab">
    <wsdl:operation name="methodName">
      <wsdl:input name="tns:requestMessageName"/>
      <wsdl:output name="tns:responseMessageName"/>
    </wsdl:operation>
    <wsdl:operation name="methodName">
      <wsdl:input name="tns:requestMessageName"/>
      <wsdl:output name="tns:responseMessageName"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ababbabSOAP" type="tns:ababbab">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="methodName">
      <soap:operation soapAction="http://service.lfg.com/ababbab/methodName"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ababbab">
    <wsdl:port binding="tns:ababbabserviceNameSOAP" name="ababbabSOAP">
      <soap:address location="http://localhost:9080/service-root-context/ababbab"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>