server/data/SOAP-WSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<wsdl:definitions name="SampleBusinessService" targetNamespace="http://service.lfg.com/SampleBusinessService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.lfg.com/SampleBusinessService" xmlns:bons2="http://service.lfg.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.lfg.com/SampleBusinessService">
      <xsd:element name="getSum">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="variabl1" type="xsd:Integer"/>
            <xsd:element name="variabl1" type="xsd:Integer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getResult">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ouput" type="xsd:Integer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sumRequestMessage">
    <wsdl:part element="tns:getSum" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="sumResponseMessage">
    <wsdl:part element="tns:getResult" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SampleBusinessService">
    <wsdl:operation name="doSum">
      <wsdl:input name="tns:sumRequestMessage"/>
      <wsdl:output name="tns:sumResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SampleBusinessServiceSOAP" type="tns:SampleBusinessService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="doSum">
      <soap:operation soapAction="http://service.lfg.com/SampleBusinessService/doSum"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleBusinessService">
    <wsdl:port binding="tns:SampleBusinessServiceSOAP" name="SampleBusinessServiceSOAP">
      <soap:address location="http://localhost:9080/sampleService/SampleBusinessService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>