server/data/SOAP-WSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<wsdl:definitions name="serviceName" targetNamespace="http://service.lfg.com/serviceName/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.lfg.com/serviceName/" xmlns:bons2="http://service.lfg.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.lfg.com/SampleBusinessService/"/>
    <xsd:element name="requestElementName">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="variableName" type="xsd:Type"/>
          <xsd:element name="variableName" type="xsd:Type"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
  </wsdl:types>
  <wsdl:message name="requestMessageName">
    <wsdl:part element="tns:requestElementName" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="responseMessageName">
    <wsdl:part element="tns:responseElementName" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="serviceName">
    <wsdl:operation name="methodName">
      <wsdl:input name="tns:requestMessageName"/>
      <wsdl:output name="tns:responseMessageName"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>