server/data/SOAP-WSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<wsdl:definitions name="businessService" targetNamespace="http://service.lfg.com/businessService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.lfg.com/businessService" xmlns:bons2="http://service.lfg.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.lfg.com/businessService">
      <xsd:element name="getSum">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="variable1" type="xsd:Integer"/>
            <xsd:element name="variable1" type="xsd:Integer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:Integer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sumRequest">
    <wsdl:part element="tns:getSum" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="sumResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="businessService">
    <wsdl:operation name="doSum">
      <wsdl:input name="tns:sumRequest"/>
      <wsdl:output name="tns:sumResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="businessServiceSOAP" type="tns:businessService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="doSum">
      <soap:operation soapAction="http://service.lfg.com/businessService/doSum"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="businessService">
    <wsdl:port binding="tns:businessServiceSOAP" name="businessServiceSOAP">
      <soap:address location="http://localhost:9081/sample-business-service/businessService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>