server/data/SOAP-WSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<wsdl:definitions name="BusinessService" targetNamespace="http://service.lfg.com/BusinessService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.lfg.com/BusinessService" xmlns:bons2="http://service.lfg.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.lfg.com/BusinessService">
      <xsd:element name="RequestElementName">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="variable2" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="res">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="sumRequest">
    <wsdl:part element="tns:RequestElementName" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="resmsg">
    <wsdl:part element="tns:res" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="BusinessService">
    <wsdl:operation name="method1">
      <wsdl:input name="tns:sumRequest"/>
      <wsdl:output name="tns:resmsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BusinessServiceSOAP" type="tns:BusinessService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="method1">
      <soap:operation soapAction="http://service.lfg.com/BusinessService/method1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessService">
    <wsdl:port binding="tns:BusinessServiceSOAP" name="BusinessServiceSOAP">
      <soap:address location="http://localhost:9081/calculation-service/BusinessService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>